/* 3 стиля ниже сбрасывают стилевые настройки по умолчанию для 
используемых нами элементов, а также устанавливат стиль элемента body */
* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: Verdana, Arial, sans-serif;  
    color: #3c763d;  /* цвет текста */
    background-color: #f7f7f7; /* #f7f7f7 */
}

/* Ниже 2 стиля управляют отображением шапки (хедера) и заголовка страницы */
#header{ 
    background-color: #cff1c1; /* #f4f4f4; */
}
#header h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 30px 30px 10px;
    clear: both;
}

/* Ниже описаны стили для горизонтальной панели навигации.
для элементов <li> устанавливается обтекание (float: left;), 
благодаря чему они размещаются в ряд, 
а каждая ссылка делается блочным элементом (display: block;)
*/
#nav {
    background-color: #e1ecdc; /* #eee; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#nav li {
    float: left;
    list-style: none;   
}
#nav a {
    display: block;
    color: rgba(0, 0, 0, 0.589); /* цвет гиперссылкок  */
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid #ccc;
}
#nav li:last-child a {
    border-right: none; 
}
#nav a:hover {
    font-weight: bold;
}
#nav:after {
    content: " ";
    display: table;
    clear: both;
}

/* 
Ниже описана настройка средней части страницы 
Стиль класса wrapper позволяет установить фоновый цвет для боковых панелей. 
Для каждого сайдбара определяется ширина в 20% от ширины страницы. 
Процентные значения позволят автоматически подстраивать ширину блоков под ширину окна браузера при его расширении или сужении
*/
.wrapper{
    background-color: #d7ebcf; /* #f7f7f7; */
}
.aside h2 {
    font-size: 0.95em;
    margin-top: 15px;
}
.aside h3 {
    font-size: 0.85em;
    margin-top: 10px;
}
.aside p, .aside li {
    font-size: .75em;
    margin-top: 10px;   
}
.aside li{ 
    list-style-type: none;
}
#sidebar1 {
    float: left;
    width: 20%; 
    padding: 0 10px 0 20px;
}
#sidebar2 {
    float: right;
    width: 20%; 
    padding: 0 20px 0 10px;
}

/* 
Ниже описаны стили блоков основного содержимого и футера
Поскольку боковые панели имеют ширину в 20% каждая, то для главного блока устанавливается ширина в 60% и отступы справа и слева в 20% 
*/
#article{
    background-color: #d7ebcf;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    width: 60%;
    /* 
    Поскольку боковые панели имеют ширину в 20% каждая, 
    то для главного блока устанавливается ширина в 60% и отступы справа и слева в 20% 
    */
}
#article:after{
    clear:both;
    display:table;
    content:'';
}
#article h2{
    font-size: 1.3em;
    margin-bottom:15px;
}
#article p{
    line-height: 150%;
    margin-bottom: 15px;
}
#footer{ 
    border-top: 1px solid #ccc;
    font-size: .8em;    
    text-align: center;
    padding: 10px 10px 30px 10px;
}

/* 
Селектор ниже: 
определяется максимальная ширина в 1200 пикселей. 
Это значит, что основные элементы страницы не выйдут за пределы 1200 пикселей. 
А автоматический внешний отступ слева и справа позволит центрировать содержимое элементов. 
т.е. при ширине браузера в 1400 пикселей эти элементы с шириной в 1200 пикселей будут размещаться как бы по середине, 
а справа и слева будут отступы шириной в (1400-1200)/2 = 100 пикселей.
*/
#nav ul, #header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin: 0 auto; 
}


/* 
Селектор ниже: 
Центрует ненумерованный список навигационного меню по горизонтали
дисплей флекс-превращает контейнер во флекс контейнер
джастифай-контент - выравнивает элементы внутри по центру
*/

#nav ul {
    display: flex;
    justify-content: center;
}


/*
Селектор ниже:  
сделать фиксированную минимальную ширину для ряда элементов. 
т.е. в итоге при сжатии окна браузера сайдбары и основной блок будут выглядеть более менее, 
а при сжатии окна менее 768 пикселей образуется полоса прокрутки
*/
.wrapper, #nav, #header, #footer{
    min-width: 768px;
}