@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/* semibold 600
bold 700
extrabold 800
*/

/* Общие стили */

body {
    margin: 0;
    color: #959595;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    background-color: #202020;
}

a {
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.6s;
}

a:hover {
    opacity: 0.8
}

img {
    max-width: 100%;
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 11px;
}

.title {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
    color: #DEDEDE
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    display: inline-block;
    padding: 16px 48px;
    background: #9D9D9D;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    opacity: 0.8;
}

.btn::before {
    content: "";
    background-image: url(/images/mail.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

/* Шапка */

.header {
    padding: 20px 0;
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}

/* Велком */

.welcome {
    margin-top: 160px;
}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.welcome__tilte {
    width: 700px;
    margin-bottom: 24px;
    margin-top: 0;
    left: 96px;
    top: 240px;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.19;
    color: #DEDEDE;
}

.welcome__text {
    width: 600px;
    margin-bottom: 88px;
}

.welcome__img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 85px;
}

/* Работы */

.works {
    margin-top: 145px;
}

.works__btn {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #DEDEDE;
    opacity: 0.7;
    padding: 0;
    margin-bottom: 220px;
}

.works__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.work {
    height: 888px;
    position: relative;
}

.work:hover {
    opacity: 1;
}

.work:hover .work__name {
    opacity: 1;
}

.work:nth-child(odd) {
    position: relative;
    margin-top: -140px;
}


.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work__name {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    transition: opacity 0.3s;
    flex-direction: column;
}

/* Контакты */

.contact {
    margin-top: 200px;
    margin-bottom: 120px;
}

.contact .container {
min-width: 520px;
text-align: center;
}

.contact__title {
    margin-bottom: 24px;
}

.contact__text {
    margin-bottom: 50px;
    font-size: 26px;
}


/* Футер */

.footer .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.footer__copy {
    font-size: 16px;
}

.footer__copy span {
color: #ececec;
}

.footer {
    border-top: 1px solid #696969;
    padding: 30px 0;
}

.socials {
    display: flex;
    gap: 43px;
}

.socials__img {
    width: 22px;
    height: 22px;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%);
    display: flex;
}
